In [1]:
import os

In [2]:
os.getcwd()

'C:\\Users\\L'

In [3]:
os.chdir('E:\my practise proj\classification project')

In [4]:
os.getcwd()

'E:\\my practise proj\\classification project'

In [5]:
import pandas as pd

In [6]:
train=pd.read_excel('train.xlsx')

In [7]:
test=pd.read_excel('test.xlsx')

In [8]:
train['source']='train'

In [9]:
test['source']='test'

In [10]:
data=pd.concat([train,test], ignore_index=True)

C:\Users\L\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [11]:
train.shape,test.shape,data.shape

((9527, 24), (5045, 23), (14572, 24))

In [12]:
data.columns

Index(['Applicant_BirthDate', 'Applicant_City_PIN', 'Applicant_Gender',
       'Applicant_Marital_Status', 'Applicant_Occupation',
       'Applicant_Qualification', 'Application_Receipt_Date',
       'Business_Sourced', 'ID', 'Manager_Business', 'Manager_Business2',
       'Manager_Current_Designation', 'Manager_DOJ', 'Manager_DoB',
       'Manager_Gender', 'Manager_Grade', 'Manager_Joining_Designation',
       'Manager_Num_Application', 'Manager_Num_Coded', 'Manager_Num_Products',
       'Manager_Num_Products2', 'Manager_Status', 'Office_PIN', 'source'],
      dtype='object')

In [13]:
data.head()

,Applicant_BirthDate,Applicant_City_PIN,Applicant_Gender,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Application_Receipt_Date,Business_Sourced,ID,Manager_Business,...,Manager_Gender,Manager_Grade,Manager_Joining_Designation,Manager_Num_Application,Manager_Num_Coded,Manager_Num_Products,Manager_Num_Products2,Manager_Status,Office_PIN,source
0,12/19/1971,844120.0,M,M,Others,Graduate,4/16/2007,0.0,FIN1000001,335249.0,...,M,3.0,Level 1,2.0,1.0,28.0,28.0,Confirmation,842001,train
1,2/17/1983,844111.0,M,S,Others,Class XII,4/16/2007,1.0,FIN1000002,335249.0,...,M,3.0,Level 1,2.0,1.0,28.0,28.0,Confirmation,842001,train
2,1/16/1966,844101.0,M,M,Business,Class XII,4/16/2007,0.0,FIN1000003,357184.0,...,M,2.0,Level 1,0.0,0.0,24.0,24.0,Confirmation,800001,train
3,1988-03-02 00:00:00,814112.0,M,S,Salaried,Class XII,4/16/2007,0.0,FIN1000004,318356.0,...,F,4.0,Level 1,0.0,0.0,22.0,22.0,Confirmation,814112,train
4,1985-04-07 00:00:00,815351.0,M,M,Others,Class XII,4/16/2007,0.0,FIN1000005,230402.0,...,M,2.0,Level 1,2.0,1.0,17.0,17.0,Confirmation,814112,train

In [14]:
data.dtypes

Applicant_BirthDate             object
Applicant_City_PIN             float64
Applicant_Gender                object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Application_Receipt_Date        object
Business_Sourced               float64
ID                              object
Manager_Business               float64
Manager_Business2              float64
Manager_Current_Designation     object
Manager_DOJ                     object
Manager_DoB                     object
Manager_Gender                  object
Manager_Grade                  float64
Manager_Joining_Designation     object
Manager_Num_Application        float64
Manager_Num_Coded              float64
Manager_Num_Products           float64
Manager_Num_Products2          float64
Manager_Status                  object
Office_PIN                       int64
source                          object
dtype: object

In [15]:
data=data.drop(["Applicant_BirthDate","Applicant_City_PIN","Application_Receipt_Date","Manager_DOJ","Manager_DoB","Manager_Num_Application","Manager_Num_Coded","Office_PIN"],axis=1)

In [16]:
data.dtypes

Applicant_Gender                object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Business_Sourced               float64
ID                              object
Manager_Business               float64
Manager_Business2              float64
Manager_Current_Designation     object
Manager_Gender                  object
Manager_Grade                  float64
Manager_Joining_Designation     object
Manager_Num_Products           float64
Manager_Num_Products2          float64
Manager_Status                  object
source                          object
dtype: object

In [17]:
pd.crosstab(data.Applicant_Gender,data.Applicant_Marital_Status,rownames=['Applicant_Gender'],colnames=['Applicant_Marital_Status'])

Applicant_Marital_Status  D     M     S   W
Applicant_Gender
F                         6  2358  1020  16
M                         5  7904  3154   2

In [18]:
data.describe()

,Business_Sourced,Manager_Business,Manager_Business2,Manager_Grade,Manager_Num_Products,Manager_Num_Products2
count,9527.00000,1.306500e+04,1.306500e+04,13065.000000,13065.000000,13065.000000
mean,0.34292,1.608418e+05,1.557958e+05,3.292767,6.090011,5.956525
std,0.47471,2.468611e+05,2.419127e+05,1.094060,7.594496,7.532118
min,0.00000,-2.652890e+05,-2.652890e+05,1.000000,0.000000,0.000000
25%,0.00000,0.000000e+00,0.000000e+00,2.000000,0.000000,0.000000
50%,0.00000,8.477800e+04,8.130400e+04,3.000000,4.000000,4.000000
75%,1.00000,2.210900e+05,2.119410e+05,4.000000,10.000000,9.000000
max,1.00000,3.578265e+06,3.578265e+06,10.000000,101.000000,101.000000

In [19]:
data.isnull().sum()

Applicant_Gender                 89
Applicant_Marital_Status        103
Applicant_Occupation           2225
Applicant_Qualification         130
Business_Sourced               5045
ID                                0
Manager_Business               1507
Manager_Business2              1507
Manager_Current_Designation    1507
Manager_Gender                 1507
Manager_Grade                  1507
Manager_Joining_Designation    1507
Manager_Num_Products           1507
Manager_Num_Products2          1507
Manager_Status                 1507
source                            0
dtype: int64

In [20]:
data['Applicant_Gender'].mode()

0    M
dtype: object

In [21]:
data['Applicant_Gender'].fillna('M',inplace=True)

In [22]:
data['Applicant_Marital_Status'].mode()

0    M
dtype: object

In [23]:
data['Applicant_Marital_Status'].fillna('M',inplace=True)

In [24]:
data['Applicant_Occupation'].mode()

0    Salaried
dtype: object

In [25]:
data['Applicant_Occupation'].fillna('Salaried',inplace=True)

In [26]:
data['Applicant_Qualification'].mode()

0    Class XII
dtype: object

In [27]:
data['Applicant_Qualification'].fillna('Class XII',inplace=True)

In [28]:
data['Manager_Business'].fillna(data['Manager_Business'].mean(),inplace=True)

In [29]:
data['Manager_Business2'].fillna(data['Manager_Business2'].mean(),inplace=True)

In [30]:
data['Manager_Current_Designation'].mode()

0    Level 2
dtype: object

In [31]:
data['Manager_Current_Designation'].fillna('Level 2',inplace=True)

In [32]:
data['Manager_Gender'].mode()

0    M
dtype: object

In [33]:
data['Manager_Gender'].fillna('M',inplace=True)

In [34]:
data['Manager_Grade'].fillna(data['Manager_Grade'].mean(),inplace=True)

In [35]:
data['Manager_Joining_Designation'].mode()

0    Level 1
dtype: object

In [36]:
data['Manager_Joining_Designation'].fillna('Level 1',inplace=True)

In [37]:
data['Manager_Num_Products'].fillna(data['Manager_Num_Products'].mean(),inplace=True)

In [38]:
data['Manager_Num_Products2'].fillna(data['Manager_Num_Products2'].mean(),inplace=True)

In [39]:
data['Manager_Status'].mode()

0    Confirmation
dtype: object

In [40]:
data['Manager_Status'].fillna('Confirmation',inplace=True)

In [41]:
data.isnull().sum()

Applicant_Gender                  0
Applicant_Marital_Status          0
Applicant_Occupation              0
Applicant_Qualification           0
Business_Sourced               5045
ID                                0
Manager_Business                  0
Manager_Business2                 0
Manager_Current_Designation       0
Manager_Gender                    0
Manager_Grade                     0
Manager_Joining_Designation       0
Manager_Num_Products              0
Manager_Num_Products2             0
Manager_Status                    0
source                            0
dtype: int64

In [42]:
data.dtypes

Applicant_Gender                object
Applicant_Marital_Status        object
Applicant_Occupation            object
Applicant_Qualification         object
Business_Sourced               float64
ID                              object
Manager_Business               float64
Manager_Business2              float64
Manager_Current_Designation     object
Manager_Gender                  object
Manager_Grade                  float64
Manager_Joining_Designation     object
Manager_Num_Products           float64
Manager_Num_Products2          float64
Manager_Status                  object
source                          object
dtype: object

In [43]:
data=pd.get_dummies(data,columns=['Applicant_Gender','Applicant_Marital_Status','Applicant_Occupation','Applicant_Qualification','Manager_Current_Designation','Manager_Gender','Manager_Joining_Designation','Manager_Status'])

In [44]:
data.shape

(14572, 48)

In [45]:
data.tail()

,Business_Sourced,ID,Manager_Business,Manager_Business2,Manager_Grade,Manager_Num_Products,Manager_Num_Products2,source,Applicant_Gender_F,Applicant_Gender_M,...,Manager_Joining_Designation_Level 1,Manager_Joining_Designation_Level 2,Manager_Joining_Designation_Level 3,Manager_Joining_Designation_Level 4,Manager_Joining_Designation_Level 5,Manager_Joining_Designation_Level 6,Manager_Joining_Designation_Level 7,Manager_Joining_Designation_Other,Manager_Status_Confirmation,Manager_Status_Probation
14567,NaN,FIN1014568,0.0,0.0,3.0,0.0,0.0,test,1,0,...,0,1,0,0,0,0,0,0,0,1
14568,NaN,FIN1014569,0.0,0.0,3.0,0.0,0.0,test,0,1,...,0,1,0,0,0,0,0,0,0,1
14569,NaN,FIN1014570,0.0,0.0,3.0,0.0,0.0,test,0,1,...,0,1,0,0,0,0,0,0,0,1
14570,NaN,FIN1014571,15347.0,15347.0,3.0,1.0,1.0,test,0,1,...,0,1,0,0,0,0,0,0,0,1
14571,NaN,FIN1014572,0.0,0.0,3.0,0.0,0.0,test,0,1,...,0,1,0,0,0,0,0,0,0,1

In [46]:
train1=data.loc[data['source']=="train"]
test1=data.loc[data['source']=="test"]

In [47]:
train1.drop(['source','ID'],axis=1,inplace=True)
test1.drop(['Business_Sourced','source'],axis=1,inplace=True)

C:\Users\L\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [48]:
train1.to_csv('train.modified.csv', index=False)

In [49]:
test1.to_csv('test.modified.csv', index=False)

In [50]:
newtrain=pd.read_csv('train.modified.csv')

In [51]:
newtrain.head()

,Business_Sourced,Manager_Business,Manager_Business2,Manager_Grade,Manager_Num_Products,Manager_Num_Products2,Applicant_Gender_F,Applicant_Gender_M,Applicant_Marital_Status_D,Applicant_Marital_Status_M,...,Manager_Joining_Designation_Level 1,Manager_Joining_Designation_Level 2,Manager_Joining_Designation_Level 3,Manager_Joining_Designation_Level 4,Manager_Joining_Designation_Level 5,Manager_Joining_Designation_Level 6,Manager_Joining_Designation_Level 7,Manager_Joining_Designation_Other,Manager_Status_Confirmation,Manager_Status_Probation
0,0.0,335249.0,335249.0,3.0,28.0,28.0,0,1,0,1,...,1,0,0,0,0,0,0,0,1,0
1,1.0,335249.0,335249.0,3.0,28.0,28.0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
2,0.0,357184.0,357184.0,2.0,24.0,24.0,0,1,0,1,...,1,0,0,0,0,0,0,0,1,0
3,0.0,318356.0,318356.0,4.0,22.0,22.0,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
4,0.0,230402.0,230402.0,2.0,17.0,17.0,0,1,0,1,...,1,0,0,0,0,0,0,0,1,0

In [52]:
x_train=newtrain.drop(['Business_Sourced'],axis=1)

In [53]:
y_train=newtrain['Business_Sourced']

In [54]:
newtest=pd.read_csv('test.modified.csv')

In [55]:
newtest.head()

,ID,Manager_Business,Manager_Business2,Manager_Grade,Manager_Num_Products,Manager_Num_Products2,Applicant_Gender_F,Applicant_Gender_M,Applicant_Marital_Status_D,Applicant_Marital_Status_M,...,Manager_Joining_Designation_Level 1,Manager_Joining_Designation_Level 2,Manager_Joining_Designation_Level 3,Manager_Joining_Designation_Level 4,Manager_Joining_Designation_Level 5,Manager_Joining_Designation_Level 6,Manager_Joining_Designation_Level 7,Manager_Joining_Designation_Other,Manager_Status_Confirmation,Manager_Status_Probation
0,FIN1009528,0.00000,0.000000,2.000000,0.000000,0.000000,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
1,FIN1009529,0.00000,0.000000,2.000000,0.000000,0.000000,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
2,FIN1009530,160841.78163,155795.761194,3.292767,6.090011,5.956525,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
3,FIN1009531,160841.78163,155795.761194,3.292767,6.090011,5.956525,0,1,0,0,...,1,0,0,0,0,0,0,0,1,0
4,FIN1009532,97352.00000,97352.000000,3.000000,3.000000,3.000000,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0

In [56]:
x_test=newtest

In [57]:
x_test.shape

(5045, 46)

In [58]:
from sklearn.ensemble import RandomForestClassifier

In [252]:
clf=RandomForestClassifier(n_estimators=150,max_depth=20)

In [253]:
clf.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=20, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [254]:
clf.score(x_train,y_train)

0.8391938700535321

In [255]:
My_test=x_test.drop(['ID'],axis=1)

In [256]:
predict=clf.predict(My_test)

In [257]:
predict

array([0., 0., 0., ..., 0., 0., 0.])

In [258]:
my_submission=pd.DataFrame({'ID':x_test.ID,'Business_Sourced': predict})

In [259]:
my_submission.to_csv('submission01.csv',index=False)